<div class="card-header">
    <div class="card" style="width: 100%; border-radius: 5px">
        <div class="row" style="margin: 0">
            <div class="col-4">
                <div class="nav nav-pills" style="margin-top: 20px"></div>
            </div>
            <div class="col-4" style="text-align: center">
                <p class="contentCenterHeader">PHÒNG CNTT-ND202</p>
                <p style="font-size: 18px; color: #6c757d" class="">
                    Học kỳ 2 năm học 2023-2024
                </p>
            </div>
            <div class="col-4" style="text-align: right"></div>
        </div>
        <div style="text-align: center" class="contentLeftHeader">
            <p class="styleContentHeader"></p>
        </div>
    </div>
</div>
